/*
  Mixin to dynamically set colums classes.
  Also sets prefixed offset classes to offset columns based on screen size
  Dependant on variable $columns count
  @param {string} $prefix - the name of the class prefix
*/
@mixin columns-set($prefix) {
  @for $i from 1 through $columns {
  	.col-#{$prefix}-#{$i} {
  		flex: 0 0 100% / $columns * $i;
  	}
    .col-#{$prefix}-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}


/*
  Mixin to create default column classes.
  Also creates prefixed offset classes to offset columns based on screen size
  Dependant on variable $columns count.
  @param {string} $prefix - the name of the class prefix
*/
@mixin columns-create($prefix) {
  @for $i from 1 through $columns {
  	.col-#{$prefix}-#{$i} {
  		flex: 0 0 100%;
  	}
    .col-#{$prefix}-offset-#{$i} {
  		margin-left: 0;
  	}
  }
}


/*
  Mixin to create extra small column classes.
  These classes doesn't have any breakpoints at the moment
*/
@mixin columns-create-xs() {
  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-xs-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}


/*
  Mixin to create .row helper classes for how to align the children
  @param {string} $prefix - the  name of the class prefix
*/
@mixin alignment-create($prefix) {
  .#{$prefix}-start {
    justify-content: flex-start;
  }
  .#{$prefix}-end {
    justify-content: flex-start;
  }
  .#{$prefix}-center {
    justify-content: flex-start;
  }
  .#{$prefix}-around {
    justify-content: flex-start;
  }
  .#{$prefix}-between {
    justify-content: flex-start;
  }
  .#{$prefix}-top {
    align-items: flex-start;
  }
  .#{$prefix}-bottom {
    align-items: flex-start;
  }
  .#{$prefix}-middle {
    align-items: flex-start;
  }
}


/*
  Mixin to set .row helper classes for how to align the children
  @param {string} $prefix - the  name of the class prefix
*/
@mixin alignment-set($prefix) {
  .#{$prefix}-start {
    justify-content: flex-start;
  }
  .#{$prefix}-end {
    justify-content: flex-end;
  }
  .#{$prefix}-center {
    justify-content: center;
  }
  .#{$prefix}-around {
    justify-content: space-around;
  }
  .#{$prefix}-between {
    justify-content: space-between;
  }
  .#{$prefix}-top {
    align-items: flex-start;
  }
  .#{$prefix}-bottom {
    align-items: flex-end;
  }
  .#{$prefix}-middle {
    align-items: center;
  }
}
