/*
  Mixin to dynamically set colums classes.
  Also sets prefixed offset classes to offset columns based on screen size
  Dependant on variable $columns count
  @param {string} $prefix - the name of the class prefix
*/
@mixin columns-set($prefix) {
  // xs columns already has below values
  @if $prefix != 'xs' {
    // set reordering classes
    .#{$class-col}-#{$prefix}-first {
      order: -1;
    }
    .#{$class-col}-#{$prefix}-last {
      order: 1;
    }
    @for $i from 1 through $columns {
      .#{$class-col}-#{$prefix}-#{$i} {
        flex: 0 0 100% / $columns * $i;
      }
      .#{$class-col}-#{$prefix}-#{$class-offset}-#{$i} {
        margin-left: 100% / $columns * $i;
      }

    }
  }
}


/*
  Mixin to create default column classes.
  Also creates prefixed offset classes to offset columns based on screen size
  Dependant on variable $columns count.
  @param {string} $prefix - the name of the class prefix
*/
@mixin columns-create($prefix) {
  // xs columns initial state are not changed
  // with media queries and thus are created with
  // different flex value than the rest of the columns
  @if $prefix != 'xs' {
    // Set default reordering classes
    .#{$class-col}-#{$prefix}-first, .#{$class-col}-#{$prefix}-last {
      order: 0;
    }
    @for $i from 1 through $columns {
      .#{$class-col}-#{$prefix}-#{$i} {
        flex: 0 0 100%;
      }
      .#{$class-col}-#{$prefix}-#{$class-offset}-#{$i} {
        margin-left: 0;
      }
    }
  } @else {
    @for $i from 1 through $columns {
      .#{$class-col}-xs-#{$i} {
        flex: 0 0 100% / $columns * $i;
      }
      .#{$class-col}-xs-#{$class-offset}-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }

}

/*
  Mixin to set .row helper classes for how to align the children
  @param {string} $prefix - the  name of the class prefix
*/
@mixin alignment-set($prefix) {
  .#{$prefix}-start {
    justify-content: flex-start;
  }
  .#{$prefix}-end {
    justify-content: flex-end;
  }
  .#{$prefix}-center {
    justify-content: center;
  }
  .#{$prefix}-around {
    justify-content: space-around;
  }
  .#{$prefix}-between {
    justify-content: space-between;
  }
  .#{$prefix}-top {
    align-items: flex-start;
  }
  .#{$prefix}-bottom {
    align-items: flex-end;
  }
  .#{$prefix}-middle {
    align-items: center;
  }
}

/*
  Mixins to be called to generate the grid
 */
@mixin grid-generate($prefix) {
  @include columns-create($prefix);
  @include alignment-set($prefix);
}

@mixin grid-size($prefix) {
  @include columns-set($prefix);
}
