@import
  'variables',
  'mixins';

/*
  Containers
*/

// Container with fixed max-width
.container {
  max-width: $container-width;
  margin: auto;
  padding: 10px;
}

// Fluid container based on percentage
.container-fluid {
  max-width: 98%;
  margin: auto;
  padding: 10px;
  margin: 1%;
}

/*
 Styling for .row class which is the flex parent
*/
.row {
  display: flex;
  flex-wrap: wrap;
}

// Set box sizing for each col class
// Column should include content, padding and borders in their element
[class*=col-] {
  box-sizing: border-box;
}

/*
 Create default columns state for each column prefix.
*/
@include columns-create('sm');
@include columns-create('md');
@include columns-create('lg');
// xs-classes are handled differently and should be included last
// See mixin for more info
@include columns-create-xs();

/*
  Create alignment classes for parent class.
  Default creating is flex-start.
  To be modified in media queries
*/
@include alignment-create('sm');
@include alignment-create('md');
@include alignment-create('lg');

/*
Media queries
*/
@media (min-width: $screen-sm) {
  // Set columns with sm prefix
  @include columns-set('sm');
  // Set alignment helper classes
  @include alignment-set('sm');
}

@media (min-width: $screen-md) {
  // Set columns with md prefix
  @include columns-set('md');
  // Set alignment helper classes
  @include alignment-set('md');
}

@media (min-width: $screen-lg) {
  // Set columns with lg prefix
  @include columns-set('lg');
  // Set alignment helper classes
  @include alignment-set('lg');
}
