@import
  'variables',
  'mixins';

/*
  Containers
*/
.container {
  max-width: $container-width;
  margin: auto;
  padding: 10px;
}

.container-fluid {
  max-width: 98%;
  margin: auto;
  padding: 10px;
  margin: 1%;
}

/*
 Styling for .row class which is the flex parent
*/
.row {
  display: flex;
  flex-wrap: wrap;
}

// Set box sizing for each col class
// Column should include content, padding and borders in their element
[class*=col-] {
  box-sizing: border-box;
}


/*
  Build the grid system in 2 steps.
  First loop through the breakpoints and create the grid and helper classes.
  Then loop again and set measurements for each media breakpoint.
*/
@each $val in $breakpoints {
  $namespace: nth($val, 1);
  $size: nth($val, 2);
  @include grid-generate($namespace);
}
@each $val in $breakpoints {
  $namespace: nth($val, 1);
  $size: nth($val, 2);
  @media(min-width: #{$size}) {
    @include grid-size($namespace);
  }
}
